@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
/* -- font-family: 'Montserrat', sans-serif; --*/

:root {
    --cinza-background: rgba(0, 0, 0, 0.03);
    --cinza-escuro: #464646;
    --cinza-claro: #A3A3A3;
    --azul: #4894FF;
    --laranja: #FFB050;
}

body {
    background-color: var(--cinza-background);
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v39/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support pra outros navegadores */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.align-icons{
    display: inline-flex;
    vertical-align: top;
}


/* Tamanhos dos icones */
.md-16 { font-size: 1rem !important; }
.md-18 { font-size: 1.1rem !important; }
.md-22 { font-size: 1.4rem !important; }
.md-32 { font-size: 2rem !important;
         line-height: 55px; } 
.md-48 { font-size: 3rem !important; } 

/* Cores dos icones */
.icon-cinza { color: var(--cinza-claro) !important; }
.icon-azul { color: var(--azul) !important; }
.icon-preto { color: var(--cinza-escuro) !important; }
.icon-branco { color: white !important; }


/* -- começo do css cabecalho -- */
.cabecalho {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 5;
}

.cabecalho__conteudo {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    align-items: center;
    margin: 0;
}

.cabecalho__hora {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

/* -- começo do css section principal -- */
.principal {
    width: 100%;
}

.principal__conteudo {
    padding: 2rem 1rem;
    display: flex;
    gap: 1rem;
}

.foto__perfil__medico {
    width: 3.8rem;
    height: auto;
    max-width: 200px;
    border-radius: 50%;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cinza-escuro);
}

.texto__grande {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--cinza-claro);
}

.display__column__space__around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex__8 {
    display: flex;
    gap: 0.5rem;
}

.flex__16 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* -- começo do css section consultas -- */
.consultas {
    width: 100%;
}

.titulo__grande {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--cinza-escuro);
    padding: 0.5rem 1rem;
}

.consulta__container {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem
}

.flex__between {
    display: flex;
    justify-content: space-between;
}

.foto__perfil__paciente {
    width: 2rem;
    height: 2rem;
    max-width: 200px;
    border-radius: 50%;
}

.titulo__paciente {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: var(--cinza-escuro);
}

.texto__paciente {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.1rem;
    color: var(--cinza-claro);
}

.icone__redondo  {
    border-radius: 50%;
    background-color: var(--cinza-background);
    width: 2rem;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
}

.icone__redondo i {
    position: relative;
    top: 0.5rem;
}

hr {
    border: 1px solid var(--cinza-background);
}

.texto__horario {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.2rem;
    color: var(--cinza-escuro);
}

.conteudo__horario {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btnLigarVideo {
    padding: 0.8rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: white;
    border-radius: 8px;
    background-color: var(--laranja);
    border: none;
}

.btnLigarAudio {
    padding: 0.8rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: var(--cinza-escuro);
    border-radius: 8px;
    background-color: white;
    border: 1px solid var(--cinza-escuro);
}


.btnVerEndereco {
    padding: 0.8rem 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: white;
    border-radius: 8px;
    background-color: var(--azul);
    border: none;
}

/* -- começo do css rodape -- */
.rodape {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    border-radius: 12px 12px 0px 0px;
}

.rodape__conteudo {
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding: 0.5rem 0.5rem;
    align-items: center;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 12px 12px 0px 0px;
}

.text__align__center {
    text-align: center;
}

/* -- floating button -- */
.relative {
    position: relative;
}

#floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: var(--azul);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    filter: drop-shadow(0 3px 6px var(--azul));
}
  
.plus{
    animation: plus-out 0.3s;
    transition: all 0.3s;
    position: absolute;
    left: 11px;
    vertical-align: middle;
    font-size: 2rem !important;
    line-height: 55px; 
    color: white;
}
  
#container-floating{
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    z-index: 50;
}

#container-floating:hover{
    height: 245px;
    width: 70px;
}
  
#container-floating:hover .plus{
    animation: plus-in 0.15s linear;
    animation-fill-mode: forwards;
}
  
.edit{
    position: absolute;
    left: 11px;
    opacity: 0;
    vertical-align: middle;
    font-size: 2rem !important;
    line-height: 55px;
    color: white;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
}
  
#container-floating:hover .edit{
    animation: edit-in 0.2s;
     animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
  
@keyframes edit-in{
      from {opacity: 0; transform: rotateZ(-70deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
}
  
@keyframes edit-out{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(-70deg);}
}
  
@keyframes plus-in{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(180deg);}
}
  
@keyframes plus-out{
      from {opacity: 0; transform: rotateZ(180deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
}
  
.nds{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    z-index: 300;
    transform:  scale(0);
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    filter: drop-shadow(0 3px 6px var(--azul));
}
  
.nd1{
    background: var(--azul);
    right: 1rem;
    bottom: 6rem;
    animation-delay: 0.2s;
      animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
}
  
.nd3{
    background: var(--azul);
    right: 1rem;
    bottom: 11rem;
    animation-delay: 0.1s;
      animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
}
  
@keyframes bounce-nds{
      from {opacity: 0;}
      to {opacity: 1; transform: scale(1);}
}
  
@keyframes bounce-out-nds{
      from {opacity: 1; transform: scale(1);}
      to {opacity: 0; transform: scale(0);}
}
  
#container-floating:hover .nds{
    animation: bounce-nds 0.1s linear;
    animation-fill-mode:  forwards;
}
  
#container-floating:hover .nd3{
    animation-delay: 0.08s;
} 









@media screen and (max-width:644px) {

}

@media screen and (min-width:645px) and (max-width:799px) {
    .titulo {
        font-size: 3.8rem;
    }
    
    .texto__grande {
        font-size: 2.2rem;
    }
    
    .foto__perfil__medico {
        width: 200px;
        height: 200px;
    }
    
    .btnLigarAudio, .btnLigarVideo {
        min-width: 250px;
    }
}


@media screen and (min-width:800px) {
    .titulo {
        font-size: 3.8rem;
    }
    
    .texto__grande {
        font-size: 2.2rem;
    }
    
    .foto__perfil__medico {
        width: 200px;
        height: 200px;
    }

    .container, .cabecalho, .rodape {
        max-width: 80%;
        margin: 0 10% 0 10%;
        box-shadow: 0 0 2.5em 0.5em rgba(204,204,204,.5);
    }

    .btnLigarAudio, .btnLigarVideo {
        min-width: 200px;
    }

}
